@import '../../../../assets/styles/media';
.container {
	@apply pt-[80px] pb-[60px] relative w-full flex flex-col items-center;
	z-index: 3;
}

.titles {
	@apply flex flex-col items-center;
}

.title {
	@apply text-[40px] font-semibold;
}

.subtitle {
	@apply text-[20px] font-semibold;
}

.portfolioContainer {
	@apply flex justify-center;
}

.projectsContainer {
	@apply grid grid-cols-4 justify-items-center;
	@include media(laptop) {
		@apply grid grid-cols-3;
	}
	@include media(tablet) {
		@apply grid grid-cols-2;
	}
	@include media(mobile) {
		@apply grid grid-cols-1;
	}
}

.projectContainer {
	@apply w-[250px] h-[350px] border-[1px] border-solid border-[#000] rounded-[10px] m-[40px] relative overflow-hidden;
}

.projectContainer {
	@apply bg-[#f7f5f5];
}

.projectContainer::before {
	content: '';
	@apply absolute h-[350px] w-[250px] rounded-[50px];
	transform: rotate(45deg);
	background: linear-gradient(-90deg, #987fb3, #cebbe2);
	@apply top-[-55%] left-[45%];
	z-index: 100;
}

.projectContainer:nth-child(2)::before {
	background: linear-gradient(-90deg, #404cf5, #bbbbe2);
}

.projectContainer:nth-child(3)::before {
	background: linear-gradient(-90deg, #40bcf5, #bbcce2);
}

.projectContainer:nth-child(4)::before {
	background: linear-gradient(-90deg, #40f59b, #bbe2df);
}

.projectContainer:nth-child(5)::before {
	background: linear-gradient(-90deg, #40f549, #c6e2bb);
}

.projectContainer:nth-child(6)::before {
	background: linear-gradient(-90deg, #e3f540, #dbe2bb);
}

.projectContainer:nth-child(7)::before {
	background: linear-gradient(-90deg, #f5ad40, #e2dfbb);
}

.projectContainer:nth-child(8)::before {
	background: linear-gradient(-90deg, #f56a40, #e2d0bb);
}

.projectContainer:nth-child(9)::before {
	background: linear-gradient(-90deg, #fc3030, #e2bbbb);	
}

.projectContainer:nth-child(10)::before {
	background: linear-gradient(-90deg, #f56c6c, #f1b1aa);
}

.projectContainer:nth-child(11)::before {
	background: linear-gradient(-90deg, #fd96b5, #e2bbc7);
}

.projectContainer:nth-child(12)::before {
	background: linear-gradient(-90deg, #c75e98, #e2bbdb);
}

.projectContainer:nth-child(13)::before {
	background: linear-gradient(-90deg, #c163f8, #e2bbdb);
}

.image {
	@apply opacity-[0.5] rounded-[10px] relative w-[1000] h-[1405];
}

.projectInfo {
	@apply w-[250px] h-[350px] relative;
	z-index: 1000;
	margin: 96% 0 -241% 17px;
}

.projectName {
	@apply text-[20px] font-semibold;
}

.projectButton {
	@apply bg-transparent border-[2px] border-solid border-[#000] rounded-[0.6em];
	@apply text-[1rem] font-semibold leading-4 uppercase;
	font-family: 'Montserrat', sans-serif;
	@apply mt-[20px] pt-[0.7em] pb-[0.7em] pl-[2.8em] pr-[2.8em];
	font-family: 'Montserrat', sans-serif;
}

.projectButton:focus {
	color: #000;
	outline: 0;
}

.projectButton:hover {
	box-shadow: 0 0 40px 40px #987fb3 inset;
}

.projectButton {
	-webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.privateProject {
	@apply w-[150px] bg-headerColor border-[2px] border-solid border-[#000] rounded-[0.6em];
	@apply mt-[20px] pt-[0.5em] pb-[0.5em] pl-[2.6em] pr-[2.6em] uppercase font-semibold;
	font-family: 'Montserrat', sans-serif;
}
.infoButton {
	@apply absolute mt-[-220px] ml-[170px] bg-[#fafafa];
	box-sizing: border-box;
	@apply border-[1px] border-solid border-[#000] rounded-[0.6em];
	@apply pt-[0.4em] pb-[0.4em] pl-[0.5em] pr-[0.5em] text-center uppercase font-semibold text-[10px];
	font-family: 'Montserrat', sans-serif;
	-webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.infoButton:focus {
	color: #000;
	outline: 0;
}

.infoButton:hover {
	box-shadow: 0 0 40px 40px #cfc6da inset;
}

.deployButton {
	@apply absolute mt-[-220px] ml-[170px] bg-[#f1e2d8];
	box-sizing: border-box;
	@apply border-[1px] border-solid border-[#000] rounded-[0.6em];
	@apply ml-[110px] pt-[0.4em] pb-[0.4em] pl-[0.5em] pr-[0.5em] text-center uppercase font-semibold text-[10px];
	font-family: 'Montserrat', sans-serif;
	-webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.deployButton:focus {
	color: #000;
	outline: 0;
}

.deployButton:hover {
	box-shadow: 0 0 40px 40px #cfc6da inset;
}

.projectInfoContainer {
	@apply absolute w-[230px] h-auto bg-[#cfc6da] p-[12px] mt-[-190px] ml-[-10px];
	z-index: 1000;
	@apply border-[1px] border-solid border-[#000] rounded-[0.6em];
}

.info {
	@apply text-[12px];
}
