@import '../../../../assets/styles/media';

.footer {
	@apply flex justify-around w-full h-auto p-[25px] bg-[#000000];
}

.container {
	@apply w-[50%] flex;
}

.text {
	@apply font-semibold text-cyan-50;
	@include media(mobile) {
		@apply text-[14px];
	}
}

.link:hover {
	text-shadow: 1px 1px 1px rgb(140, 0, 255);
}
.social {
	@apply flex justify-between;
}

.btn {
	@apply text-center w-[100px] mr-[8px] bg-transparent;
}

.btn {
	@apply text-cyan-50 relative text-[15px];
	transition: all 0.3s;
	@include media(mobile) {
		@apply text-[14px];
	}
}

.btn span {
	transition: all 0.3s;
}

.btn::before {
	content: '';
	@apply absolute bottom-0 left-0 w-full h-full opacity-0;
	@apply border-t-[1px] border-b-[1px] border-solid border-t-cyan-50 border-b-cyan-50;
	z-index: 1;
	transition: all 0.3s;
	transform: scale(0.1, 1);
}

.btn:hover span {
	letter-spacing: 2px;
}

.btn:hover::before {
	opacity: 1;
	transform: scale(1, 1);
}

.btn::after {
	content: '';
	@apply absolute bottom-0 left-0 w-full h-full;
	z-index: 1;
	transition: all 0.3s;
}

.btn:hover::after {
	opacity: 0;
	transform: scale(0.1, 1);
}
