.section {
    min-height: 100vh;
}
.container {
    max-width: 1000vh;
}
.borderContainer {
    display: flex;
    justify-content: center;
}

.border {
    height: 5px;
    width: 80%;
    @apply bg-purple-400;
    opacity: 0.3;
    border-radius: 5px;
}