@import '../../../assets/styles/media';

.section {
    @apply relative overflow-hidden;
    .container {
        max-width: 100%;
        
    }
}

.borderContainer {
    display: flex;
    justify-content: center;
}

.border {
    height: 5px;
    width: 80%;
    @apply bg-purple-400;
    opacity: 0.3;
    border-radius: 5px;
}