@import '../../../../../assets/styles/media';

.intro {
	@apply flex flex-col text-[30px] font-semibold text-cyan-50;
	@include media(laptop) {
		@apply text-[25px] text-center items-center;
	}
	@include media(tablet) {
		@apply text-[22px] text-center items-center;
	}
	@include media(mobile) {
		@apply text-[18.5px] text-center items-center;
	}
}

.buttons {
	@apply flex;
	@include media(laptop) {
		@apply ml-[25px]
	}
	@include media(tablet) {
		@apply ml-[25px]
	}
	@include media(mobile) {
		@apply ml-[25px]
	}
}

.btn {
	@apply bg-transparent border-[2px] border-solid border-cyan-50 rounded-[0.6em];
	@apply text-[1rem] font-semibold leading-4 uppercase text-cyan-50;
	font-family: 'Montserrat', sans-serif;
	@apply mr-[30px] mt-[20px] pt-[1em] pb-[1em] pl-[2.8em] pr-[2.8em];
	@include media(laptop) {
		@apply pt-[0.5em] pb-[0.5em] pl-[1.8em] pr-[1.8em];
	}
	@include media(tablet) {
		@apply pt-[0.5em] pb-[0.5em] pl-[1.8em] pr-[1.8em];
	}
	@include media(mobile) {
		@apply w-auto text-[13px] pt-[0.5em] pb-[0.5em] pl-[1.8em] pr-[1.8em];
	}
}

.btn {
	-webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.btn:focus {
	@apply outline-0;
}

.btn:hover {
	box-shadow: 0 0 40px 40px #5D57B1 inset;
}

.skillsContainer {
	@apply h-auto w-auto absolute;
	z-index: 1000;
	@apply border-[#000] border-[1px] border-solid rounded-[10px];
	@apply flex flex-row justify-center p-[20px] mt-[230px] bg-[#bed9f0];
	@include media(computer) {
		@apply w-[680px];
	}
	@include media(laptop) {
		@apply w-[350px] flex flex-wrap p-[30px] mt-[200px];
	}
	@include media(tablet) {
		@apply w-[350px] flex flex-wrap p-[30px] mt-[190px];
	}
	@include media(mobile) {
		@apply w-[350px] flex flex-wrap p-[30px] mt-[170px];
	}
}

.skillsContainer {
	animation-duration: 1s;
	animation-name: slidein;
}

@keyframes slidein {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1);
	}
}

.skill {
	@apply flex flex-col items-center;
	@apply pt-[12px] pb-[12px] pl-[12px] pr-[12px]; 
}

.skillIcon {
	@apply w-[55px] h-[55px];
	@include media(computer) {
		@apply w-[45px] h-[45px];
	}
	@include media(laptop) {
		@apply w-[55px] h-[55px];
	}
	@include media(tablet) {
		@apply w-[55px] h-[55px];
	}
	@include media(mobile) {
		@apply w-[55px] h-[55px];
	}
}

.skillTitle {
	@apply text-[15px] text-zinc-900;
}
