.btn {
	@apply leading-[50px] h-[50px] text-center w-[100px] mr-[8px] bg-transparent cursor-pointer;
}

.btn {
	@apply text-[#000] relative text-[15px];
	transition: all 0.3s;
}

.btn span {
	transition: all 0.3s;
}

.btn::before {
	content: '';
	@apply absolute bottom-0 left-0 w-full h-full opacity-0;
	z-index: 1;
	transition: all 0.3s;
	@apply border-t-[1px] border-b-[1px] border-solid border-t-[#000] border-b-[#000];
	transform: scale(0.1, 1);
}

.btn:hover span {
	letter-spacing: 2px;
}

.btn:hover::before {
	opacity: 1;
	transform: scale(1, 1);
}

.btn::after {
	content: '';
	@apply absolute bottom-0 left-0 w-full h-full;
	z-index: 1;
	transition: all 0.3s;
}

.btn:hover::after {
	opacity: 0;
	transform: scale(0.1, 1);
}

.active {
	letter-spacing: 2px;
	font-weight: 600;
}
