.header {
    display: flex;
    justify-content: flex-end;
    position: fixed;
        z-index: 1000;
    width: 100%;
    height: auto;
    padding: 30px;
    @apply bg-headerColor;
}

.container {
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-right: 130px;
}

.text {
    font-weight: 700;
}

.link:hover {
    text-shadow: 1px 1px 1px rgb(140, 0, 255);
}
.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 100px;
    cursor: pointer;
    margin-right: 8px;
    background-color: transparent;
}

.btn {
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    position: relative;
    font-size: 15px;
}

.btn span {
    transition: all 0.3s;
}

.btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    transform: scale(0.1, 1);
}

.btn:hover span {
    letter-spacing: 2px;
}

.btn:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
}

.btn:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}

.box {
    border-radius: 10px;
}