.about {
    display: flex;
    flex-direction: row;
    // height: 89vh;
        padding-top: 80px;
}

.left {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}