.about {
    display: flex;
    flex-direction: row;
    padding-top: 165px;
        padding-bottom: 100px;
}

.left {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}