@import '../../../../assets/styles/media';

.contactsWrapper {
	@apply pt-[80px] flex flex-row items-center pb-[80px] justify-center;
	@apply ml-60;
	@include media(computer) {
		@apply flex-col items-center ml-0;
	}

	.contactsLeft {
		@apply flex-1 items-center justify-center;
		@include media(computer) {
			@apply mb-[60px] ml-0;
		}

		.content {
			@apply flex items-center mt-[40px]  text-[30px];
		}

		.img {
			@apply w-24 h-24 mr-[100px];
			@include media(mobile) {
				@apply w-16 h-16 mr-[40px] ml-4;
			}
		}

		.title {
			@apply text-[20px] font-semibold text-cyan-50;
			@include media(mobile) {
				@apply text-[16px];
			}
		}

		.titleLink {
			@apply text-[20px] font-semibold text-cyan-50;
			transition: color 0.3s ease;

			&:hover {
				@apply text-[#5d57b1];
				transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
			}
		}
	}

	.contactsRight {
		@apply flex-1 items-center justify-center;

		.form {
			@apply mt-[130px];
			@include media(computer) {
				@apply flex flex-col items-center;
				@apply mt-0;
			}
		}

		.input {
			@apply w-80 h-12 border-b bottom-[1px] border-solid border-black pl-4 text-sm my-[10px] mx-0;
		}

		.textarea {
			@apply w-[60%] my-[10px] text-sm pl-[10px];
			@include media(computer) {
				@apply w-[100%];
			}
		}

		.submitButton {
			@apply bg-transparent border-[2px] border-solid border-cyan-50 rounded-[0.6em];
			@apply text-[1rem] font-semibold leading-4 uppercase text-cyan-50;
			font-family: 'Montserrat', sans-serif;
			@apply mt-[20px] pt-[0.7em] pb-[0.7em] pl-[2.8em] pr-[2.8em];
			@include media(laptop) {
				@apply pt-[0.5em] pb-[0.5em] pl-[1.8em] pr-[1.8em];
			}
			@include media(tablet) {
				@apply pt-[0.5em] pb-[0.5em] pl-[1.8em] pr-[1.8em];
			}
			@include media(mobile) {
				@apply pt-[0.5em] pb-[0.5em] pl-[1.8em] pr-[1.8em];
			}
		}

		.submitButton:focus {
			@apply text-cyan-50 outline-0;
		}

		.submitButton:hover {
			box-shadow: 0 0 40px 40px #5d57b1 inset;
		}

		.submitButton {
			-webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
			transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
		}

		.successMessage {
			@apply absolute text-[20px] font-semibold text-[#fff];
			@include media(computer) {
				@apply mt-80;
			}
		}

		.spinner {
			@apply absolute text-[#fff] mt-3;
			@include media(computer) {
				@apply mt-80;
			}
		}
		.noData {
			@apply absolute text-[20px] font-semibold text-[#fff] mt-2;
			@include media(computer) {
				@apply mt-80;
			}
		}
	}

	.contactsTitle {
		@apply text-[60px] mb-[80px] text-white;

		@include media(laptop) {
			@apply mb-[20px];
		}
		@include media(mobile) {
			@apply text-[42px] text-center;
		}
	}
}
