@import '../../../../../assets/styles/media';

.form {
	.input {
		display: none;
	}

	.textarea {
		display: none;
	}

	.submitButton {
		display: block;
		visibility: visible;
	}

	.submitButton {
		@apply flex flex-row items-center;
		@apply bg-transparent border-[2px] border-solid border-cyan-50 rounded-[0.6em];
		@apply text-[1rem] font-semibold leading-4 uppercase text-cyan-50;
		font-family: 'Montserrat', sans-serif;
		@apply mr-[30px] mt-[20px] pt-[1em] pb-[1em] px-[1em];
		@include media(laptop) {
			@apply pt-[0.5em] pb-[0.5em] pl-[1.8em] pr-[1.8em];
		}
		@include media(tablet) {
			@apply pt-[0.5em] pb-[0.5em] pl-[1.8em] pr-[1.8em];
		}
		@include media(mobile) {
			@apply w-auto text-[13px] pt-[0.5em] pb-[0.5em] pl-[1.8em] pr-[1.8em];
		}
	}

	.submitButton {
		-webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
		transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
	}

	.submitButton:focus {
		@apply outline-0;
	}

	.submitButton:hover {
		box-shadow: 0 0 40px 40px #5d57b1 inset;
	}

	.disabledButton {
		display: block;
		visibility: visible;
	}

	.disabledButton {
		@apply flex flex-row items-center;
		@apply bg-gray-600 border-[2px] border-solid border-cyan-50 rounded-[0.6em];
		@apply text-[1rem] font-semibold leading-4 uppercase text-cyan-50;
		font-family: 'Montserrat', sans-serif;
		@apply mr-[30px] mt-[20px] pt-[1em] pb-[1em] px-[1em];
		@include media(laptop) {
			@apply pt-[0.5em] pb-[0.5em] pl-[1.8em] pr-[1.8em];
		}
		@include media(tablet) {
			@apply pt-[0.5em] pb-[0.5em] pl-[1.8em] pr-[1.8em];
		}
		@include media(mobile) {
			@apply w-auto text-[13px] pt-[0.5em] pb-[0.5em] pl-[1.8em] pr-[1.8em];
		}
	}

	.heart {
		@apply mr-1;
	}
}

.liked {
	@apply text-base mt-2 absolute w-96;
	transform: translateX(-118%);

	@include media(laptop) {
		transform: translateX(-85%);
	}
	@include media(miniTablet) {
		transform: translateX(-85%);
	}
	@include media(mobile) {
		transform: translateX(-78%);
	}
	@include media(miniMobile) {
		transform: translateX(-37%);
	}
}
